<div id="<%= dom_id worker %>">
  <p>
    <strong>Documents path:</strong>
    <%= worker.documents_path %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= worker.description %>
  </p>

</div>
