<div id="<%= dom_id transaction %>">
  <p>
    <strong>Size:</strong>
    <%= transaction.size %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

</div>
