<div id="<%= dom_id location %>">
  <p>
    <strong>Adress:</strong>
    <%= location.adress %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= location.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= location.status %>
  </p>

</div>
